html {
    scroll-behavior: smooth;
}

body {
    background-color: #0D3B66;
}

.closed {
    visibility: hidden;
}

/* HEADER */

.header {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    letter-spacing: 5px;
}

.header form {
    display: flex;
    justify-content: center;
}

#search-input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin-left: 25px;
    padding-left: 10px;
    font-size: 14px;
}

#search {
    color: white;
    margin-left: 10px;
    height: 33px;
    width: 80px;
    background-color: #188CF0;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

#close-search-btn {
    color: white;
    background: red;
    border: none;
    width: 25px;
    height: 25px;
    font-weight: normal;
    font-size: large;
    margin-left: 10px;
    margin-top: 4px;
}

/* MOVIES */

#movies-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



@media screen and (max-width: 1000px){
    #movies-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px){
    #movies-grid{
        grid-template-columns: 1fr;
    }
}

.movie-title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    display: block;
}

.movie-votes {
    color:  #FFE8C2;
    text-align: center;
    font-weight: normal;
    font-size: 120%;
    display: block;
}

.movie-poster {
    width: 100%;
    height: auto;
}

.movie-card {
    /* border: 1px solid green; */
    /* display: grid;
    grid-template-rows: 9fr 1fr 1fr; */
    align-items: center;
}

/* FOOTER */
.footer {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

#load-more-movies-btn {
    color: white;
    margin-left: 10px;
    height: 40px;
    width: 150px;
    background-color: #188CF0;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}